doctype html
html(lang='en')
head
  link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')

  body.container(ng-app='CypherApp')
    .page-header
      h1 Cypher Example 
        small Angular again.
    .CypherCtrl(ng-controller='CypherCtrl')
      .form-group
        .row
          .col-md-1
          .col-md-4
            textarea.form-control#input(ng-model='input')
          .col-md-2
          .col-md-4
            textarea.form-control#output
              {{input | cypher}}
          .col-md-1
    
    
    script(src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js')
    script(src='script.js')
